@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #FFB540;
	--secondary-color: #e4b467;
	--tertiary-color: #FFB540;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}


* {
	font-family: "Consolas";
	color: aliceblue;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #53359f;

}


#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* My library for creating fluid grid with 12 columns for 1920*1080 display*/

/* each column is 130px or 6.77% */
/* each gutter is 30px ot 1.56%  */
.col {
    float: left;
    margin-left: 1.56%;
    width: 6.77%;
}
/* container for row */
.row {
    clear: both;
}
/* most right gutter */
.wrapper {
    padding-right: 1.56%;
}
/* merged columns */
.col.span2 {
    width: calc((6.77%*2) + 1.56%);
}

.col.span3 {
    width: calc((6.77%*3) + (1.56%*2));
}

.col.span4 {
    width: calc((6.77%*4) + (1.56%*3));
}

.col.span5 {
    width: calc((6.77%*5) + (1.56%*4));
}

.col.span6 {
    width: calc((6.77%*6) + (1.56%*5));
}

.col.span7 {
    width: calc((6.77%*7) + (1.56%*6));
}

.col.span8 {
    width: calc((6.77%*8) + (1.56%*7));
}

.col.span9 {
    width: calc((6.77%*9) + (1.56%*8));
}

.col.span10 {
    width: calc((6.77%*10) + (1.56%*9));
}

.col.span11 {
    width: calc((6.77%*11) + (1.56%*10));
}

.col.span12 {
    width: calc((6.77%*12) + (1.56%*11));
}
/* Offsets for separating columns (create "empty" columns) */
.offset-by-one {
    margin-left: calc(6.77% + (1.56%*2));
}

.offset-by-two {
    margin-left: calc(6.77%*2 + (1.56%*3));
}

.offset-by-three {
    margin-left: calc(6.77%*3 + (1.56%*4));
}

.offset-by-four {
    margin-left: calc(6.77%*4 + (1.56%*5));
}

.offset-by-five {
    margin-left: calc(6.77%*5 + (1.56%*6));
}

.offset-by-six {
    margin-left: calc(6.77%*6 + (1.56%*7));
}

.offset-by-seven {
    margin-left: calc(6.77%*7 + (1.56%*8));
}

.offset-by-eight {
    margin-left: calc(6.77%*8 + (1.56%*9));
}

.offset-by-nine {
    margin-left: calc(6.77%*9 + (1.56%*10));
}

.offset-by-ten {
    margin-left: calc(6.77%*10 + (1.56%*11));
}

.offset-by-eleven {
    margin-left: calc(6.77%*11 + (1.56%*12));
}

.offset-by-twelve {
    margin-left: calc(6.77%*12 + (1.56%*13));
}